body {
  min-height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

h1 {
  font-size: 2.5rem;
  max-width: 30ch;
}

p,
li {
  max-width: 60ch;
  font-size: 1.125rem;
  line-height: 1.5;
}

ol li + li {
  margin-top: 1.125rem;
}

header {
  height: 5rem;
  padding-inline: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header,
footer {
  background: #111827;
  color: white;
}

header nav ul {
  list-style: none;
  display: none;
  gap: 1.25rem;
  padding: 0;
  margin-left: 2rem;
}

header span {
  font-size: 1.25rem;
  font-weight: bold;
}

header nav ul li a {
  color: rgb(196, 206, 210);
  text-decoration: none;
  transition: color 200ms;
}

header nav ul li a:hover {
  color: white;
}

header nav ul li:first-of-type a {
  font-weight: bold;
  color: white;
}

header {
  display: flex;
}

.nav-toggle {
  border: 2px solid rgba(255, 255, 255, 0.192);
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background: transparent;
  color: white;
  display: grid;
  place-content: center;
  transition: all 200ms;
}

.nav-toggle:hover {
  background: #5d7adb;
}

.categories {
  border-bottom: 1px solid rgb(243, 243, 243);
}

.categories ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.categories ul li:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
  display: none;
}

.categories ul a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: flex-start;
  }

  header nav ul {
    display: flex;
  }

  .nav-toggle {
    display: none;
  }

  .categories ul li:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
    display: block;
  }
}

main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

main section {
  flex: 1;
  padding: 2rem;
  background: #ffffff;
}

.post-img {
  /* height: 15rem; */
  margin-bottom: 2rem;
  width: 100%;
  background: rgb(215, 215, 215);
  border-radius: 1rem;
}

main aside {
  min-height: 10rem;
  padding: 1rem;
  background: #fafafa;
}

.article-card img {
  background: rgb(225, 225, 225);
  width: 100%;
  aspect-ratio: 9/6;
  object-fit: cover;
  border: 1px solid rgb(208, 215, 230);
  border-radius: 0.5rem;
}

.article-card h2 {
  font-size: 1.125rem;
  margin-block: 1rem;
}

.article-card p {
  font-size: 0.8rem;
  margin-block: 0.25rem 0;
}

.trending-article-card {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.trending-article-card h3 {
  margin: 0;
  font-size: 1rem;
}

.trending-article-card h3 + span {
  font-size: 0.875rem;
  color: rgb(113, 118, 131);
}

.trending-article-card .icon {
  display: block;
  height: 4rem;
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  background: rgb(231, 231, 231);
}

.trending-article-card .icon svg {
  width: 2rem;
  inset: 0;
  margin: auto;
  color: rgb(113, 118, 131);
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  main aside {
    padding: 2rem 2rem;
    width: max(14rem, 18%);
    position: sticky;
    top: 5rem;
  }

  main section > div {
    border: 1px solid rgb(249, 249, 249);
    max-width: 56rem;
    margin-inline: auto;
  }

  .post-img {
    aspect-ratio: 16/9;
    margin-bottom: 2rem;
    margin-inline: auto;
    background: rgb(215, 215, 215);
    border-radius: 1rem;
  }
}

footer {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  Add scrollable height to section */
/* main section div {
  height: 100rem;
  border: 1px solid black;
} */
