body {
  min-height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

h1 {
  font-size: 2.5rem;
}

p,
li {
  font-size: 1.125rem;
  line-height: 1.5;
}

header {
  height: 5rem;
  padding-inline: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header,
footer {
  background: #111827;
  color: white;
}

header {
  display: flex;
}

header .site-icon {
  font-size: 1.25rem;
  font-weight: bold;
  display: inline-flex;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

header .site-icon svg {
  transition: color 200ms;
}

header .site-icon:hover svg {
  color: #5d7adb;
}

.nav-links {
  display: none;
}

.nav-toggle {
  border: 2px solid rgba(255, 255, 255, 0.192);
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background: transparent;
  color: white;
  display: grid;
  place-content: center;
  transition: all 200ms;
}

.nav-toggle:hover {
  background: #5d7adb;
}

.categories {
  border-bottom: 1px solid rgb(243, 243, 243);
  display: none;
}

main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  padding-block: 1rem 3rem;
}

main section {
  flex: 1;
  padding: 1rem;
  background: #ffffff;
}

.left-aside {
  display: none;
}

.article-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-list li {
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.article-list li:hover {
  border-color: #5d7adb3c;
}

.article-list a {
  text-decoration: none;
  color: inherit;
}

.news-article {
  padding: 0.5rem;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 0.5rem;
}

.news-article img {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 1rem;
  background: rgb(219, 219, 219);
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.news-article h2 {
  line-height: 1.4;
  margin-block: 0.5rem 1rem;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-article p {
  color: gray;
}

.news-article a {
  display: block;
  text-decoration: none;
  margin-top: 1rem;
  color: #5d7adb;
}

aside {
  padding: 1rem;
}

aside h2 {
  margin-bottom: 1rem;
}

.right-aside ul {
  display: flex;
  position: relative;
  left: -0.5rem;
  flex-direction: column;
}

.right-aside ul a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: all 200ms;
  padding: 6px;
  border-radius: 0.8rem;
  border: 1px solid transparent;
}

.right-aside ul a:hover {
  border: 1px solid #5d7adb62;
}

.trending-article-card {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.trending-article-card h3 {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending-article-card h3 + span {
  font-size: 0.875rem;
  color: rgb(113, 118, 131);
}

.trending-article-card .icon {
  display: block;
  height: 4rem;
  flex-shrink: 0;
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  transition: all 200ms;
  background: #e7e7e7;
}

a:hover > .trending-article-card .icon {
  color: #5d7adb;
}

.trending-article-card .icon svg {
  width: 2rem;
  inset: 0;
  margin: auto;
  color: #717683;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
}

footer .site-icon {
  font-size: 1.25rem;
  color: #717683;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 200ms;
}

footer .site-icon:hover {
  color: white;
}

footer .site-icon:hover svg {
  transition: all 300ms;
}

footer .site-icon:hover svg {
  color: #5d7adb;
  scale: 1.25;
  translate: 0 -0.125rem;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }

  main section {
    padding: 1rem;
  }

  main aside {
    padding: 1;
    width: max(14rem, 18%);
    top: 5rem;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    padding: 0;
    margin-left: 2rem;
  }

  .nav-links li a {
    color: rgb(196, 206, 210);
    text-decoration: none;
    transition: color 200ms;
  }

  .nav-links li a:hover {
    color: white;
  }

  .nav-toggle {
    display: none;
  }

  .categories {
    display: block;
  }

  .categories ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 2.5rem;
  }

  .categories ul li:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
    display: none;
  }

  .categories ul a {
    text-decoration: none;
    color: black;
    padding: 0.2rem 0.875rem;
    border-radius: 0.5rem;
  }

  .categories ul a:hover {
    text-decoration: underline #5d7adb;
  }

  .article-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    gap: 2rem;
  }

  .article-list li {
    max-width: calc(50% - 1rem);
  }

  .article-list a {
    text-decoration: none;
    color: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .nav-links {
    display: flex;
  }

  .nav-toggle {
    display: none;
  }

  .left-aside {
    display: block;
  }

  .left-aside ul a {
    display: block;
    color: inherit;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 200ms;
    border: 1px solid transparent;
  }

  .left-aside ul a:hover {
    background: #5d7adb10;
    border-color: #5d7adb;
  }

  .categories ul li:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
    display: block;
  }
}
